{% extends 'base.html.twig' %}

{% block title %}
	E-sport
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('/css/games.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row" id="games-index"></div>
		<div class="d-flex justify-content-center">
			<nav aria-label="Page navigation example">
				<ul class="pagination" id="pagination">
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('/js/api.js')}}"></script>
{% endblock %}
