{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    {% for game in games  %}
        <div>
            {{ game.title }}
            <p>{{ game.usedPrice }}</p>
        </div>
    {% endfor %}

{% endblock %}
